<header class="header">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo" href="#">
        <img src="img/logo.svg" alt="logo" />
      </a>
      <button class="mobile-menu__close" type="button" aria-label="Close menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>About</span></a>
      </li>
      <li class="mobile-menu__item">
        <div class="menu-accordion accordion">
          <div class="menu-accordion__control accordion-control" type="button">
            <a class="menu-accordion__control-link" href="#"> Courses </a>
            <button
              class="menu-accordion__control-btn accordion-control-btn"
              type="button"
            >
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.5 8.25L11 13.75L16.5 8.25"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <div class="menu-accordion__content accordion-content">
            <ul class="menu-accordion__list">
              <li class="menu-accordion__item">
                <a class="menu-accordion__link" href="#">Courses</a>
              </li>
              <li class="menu-accordion__item">
                <a class="menu-accordion__link" href="#">Courses</a>
              </li>
              <li class="menu-accordion__item">
                <a class="menu-accordion__link" href="#">Courses</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="menu-accordion accordion">
          <div class="menu-accordion__control accordion-control" type="button">
            <a class="menu-accordion__control-link" href="#"> Universities </a>
            <button
              class="menu-accordion__control-btn accordion-control-btn"
              type="button"
            >
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.5 8.25L11 13.75L16.5 8.25"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <div class="menu-accordion__content accordion-content">
            <ul class="menu-accordion__list">
              <li class="menu-accordion__item">
                <a class="menu-accordion__link" href="#">Universities</a>
              </li>
              <li class="menu-accordion__item">
                <a class="menu-accordion__link" href="#">Universities</a>
              </li>
              <li class="menu-accordion__item">
                <a class="menu-accordion__link" href="#">Universities</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Online Degrees</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Teachers</span></a>
      </li>
    </ul>

    <div class="mobile-menu__btns">
      <button class="mobile-menu__login">Log in</button>
      <button class="mobile-menu__btn btn">Register</button>
    </div>
  </div>
  <!-- Mobile Menu -->

  <div class="container">
    <nav class="header__wrapper">
      <a class="header__logo" href="#">
        <img src="img/logo.svg" alt="logo" />
      </a>

      <div class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">About</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              Courses

              <svg
                class="menu__icon"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.5 8.25L11 13.75L16.5 8.25"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Courses</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Courses</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"> Courses </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              Universities

              <svg
                class="menu__icon"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.5 8.25L11 13.75L16.5 8.25"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Universities</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Universities</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"> Universities </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Online Degrees</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Teachers</a>
          </li>
        </ul>
      </div>

      <div class="header__btns">
        <button class="header__login" type="button">Log in</button>
        <button class="header__btn btn btn-registration" type="button">
          Register
        </button>
      </div>

      <button class="header__toggle" type="button">
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
      </button>
    </nav>
  </div>
</header>
